#home .row{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/bg1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#home .row .col-sm-12{
    height: 100vh;
}

#home .row .col-sm-12 .homeWrap{
    padding-top: 35vh;
}

#home .row .col-sm-12 .homeWrap h4{
    color: white;
    padding: 5px;
    border: 2px dashed white;
    font-family: var(--fontThree);
}

#home .row .col-sm-12 .homeWrap h1{
    color: white;
    font-family: var(--fontTwo);
    font-size: 55px;
    font-weight: bolder;
}

#home .row .col-sm-12 .homeWrap p{
    color: white;
    font-size: 23px;
    font-family: var(--fontThree);
    text-align: center;
    
}

#home .row .col-sm-12 .homeWrap button{
    margin-top: 25px;
    background-color: #9c27b0;
    color: white;
    font-family: var(--fontOne);
    font-size: 18px;
    height: 55px;
    width: 175px;
    border: none;
    outline: none;
}

#home .row .col-sm-12 .homeWrap button:hover{
    background-color: #792191;
    transition: 0.5s ease-in-out;
}

@media only screen and (max-width: 900px){
    #home .row .col-sm-12 .homeWrap h1{
        font-size: 35px;
    }
    
    #home .row .col-sm-12 .homeWrap p{
        font-size: 18px;
    }

    #home .row .col-sm-12 .homeWrap button{
        font-size: 15px;
        width: 155px;
    }
    
}